@using BusinessLogic.DTOs;
@model List<AdvertisementDto>;
<h1>Advertisements</h1>
<table class="table table-striped">
	<a class="btn btn-light" asp-area="" asp-controller="Advertisements" asp-action="Create">Add Advertisement</a>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Brand</th>
			<th scope="col">Price</th>
			<th scope="col">Category</th>
			<th scope="col">Condition</th>
			<th scope="col">Seller</th>
			<th scope="col">Publication</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var i in Model)
		{
			<tr class="align-middle">
				<td>@i.Id</td>
				<td>@i.Name</td>
				<td>@i.Brand</td>
				<td>@i.Price $</td>
				<td>@i.CategoryName</td>
				<td>@i.ConditionName</td>
				<td>@i.SellerName</td>
				<td>@i.PublicationDate</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<a class="btn btn-dark" asp-action="Details" asp-route-id="@i.Id" asp-route-returnUrl="@Context.Request.Path">
							<i class="bi bi-info-lg"></i>
						</a>
						<a class="btn btn-warning" asp-action="Edit" asp-route-id="@i.Id">
							<i class="bi bi-pencil-fill"></i>
						</a>
						<a class="btn btn-danger" asp-action="Delete" asp-route-id="@i.Id">
							<i class="bi bi-trash3-fill"></i>
						</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>