@model List<Advertisement>;
<h1>Advertisements</h1>
<table class="table table-striped">
	<a class="btn btn-light" asp-area="" asp-controller="Advertisements" asp-action="Create">Add Advertisement</a>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Brand</th>
			<th scope="col">Description</th>
			<th scope="col">Price</th>
			<th scope="col">Category</th>
			<th scope="col">Condition</th>
			<th scope="col">Seller</th>
			<th scope="col">Publication</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var i in Model)
		{
			<tr class="align-middle">
				<td></td>
				<td>@i.Name</td>
				<td>@i.Brand</td>
				<td>@i.Description</td>
				<td>@i.Price $</td>
				<td>@i.Category.Name</td>
				<td>@i.Condition.Name</td>
				<td>@i.Seller.Login</td>
				<td>@i.PublicationDate</td>
			</tr>
		}
	</tbody>
</table>